<!-- 
    Author: Andrew Krause
    Description:
        Blah blah blah...
-->

{% extends "Parks/footer.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form method="POST">{% csrf_token %}
                    <div class="input-group">
                        {{ form | crispy }}
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="username-label">Username</span>
                        </div>
                        <input type="text" class="form-control" id="username-field" name="username-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-label">Password</span>
                        </div>
                        <input type="text" class="form-control" id="password-field" name="password-field" required>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Login</button>
                        </span>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Create an Account</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h2 class="home">This is the LOGIN page for our Python project!</h2>
{% endblock content %}  
