<!-- 
    Author: Andrew Krause
    Description:
        Blah blah blah...
-->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form method="POST">{% csrf_token %}
                    <div class="input-group">
                        {% comment %} {{ form | crispy }} {% endcomment %}
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="firstname-label">First Name</span>
                        </div>
                        <input type="text" class="form-control" id="firstname-field" name="firstname-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="lastname-label">Last Name</span>
                        </div>
                        <input type="text" class="form-control" id="lastname-field" name="lastname-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-label">Email</span>
                        </div>
                        <input type="text" class="form-control" id="email-field" name="email-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="username-label">Username</span>
                        </div>
                        <input type="text" class="form-control" id="username-field" name="username-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="password-label">Password</span>
                        </div>
                        <input type="text" class="form-control" id="password-field" name="password-field" required>

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="passwordconf-label">Confirm Password</span>
                        </div>
                        <input type="text" class="form-control" id="passwordconf-field" name="passwordconf-field" required>

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Register</button>
                        </span>

                        <span class="input-group-btn">
                            <a href="{% url 'loginas' %}">Login</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h2 class="home">This is the REGISTRATION page for our Python project!</h2>
{% endblock content %}  
