/* 
 * The CSS file contains code that styles the ParkFinder 
 * web applicaton. Various tags, classes, and identifiers
 * are used to make the UI design as clean and user-friendly
 * as possible. The file breaks the styles applied to the 
 * different web pages into different sections in order to 
 * better organize the code. The code in this file pertains
 * primarily to the HTML pages within the Parks app for the
 * project.
 * ...
 * Project: ParkFinder Web Application
 * Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
 * Class: Introduction to Programming Languages (CS 224)
 * Date: 12/06/2021
 * ...
 *
 */

/* 
 * IMPORTANT:
 * You will likely need to hard refresh the page to see the changes in your CSS.
 * To do this, hit CMD + Shift + R on the keyboard.
 */

 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Serif:ital@1&display=swap'); 

/******************************* TYPE SELECTORS *******************************/

/* Format content within the body tag of the HTML structure */
body {
    padding-top: 6rem; /* This portion is included for the fixed header on the page. */
    /* padding-bottom: 6rem; /* This portion is included for the fixed footer on the page. */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    background-color: #FFAF24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Align footer with bottom of page. */
footer {
    margin-top: auto;
}

/* Get rid of the default styling for lists */
/* Potentially delete later */
ul {
    list-style: none;
    padding: 0px;
}

/******************************* CLASS AND ID SELECTORS *******************************/

/* === NAVBAR SECTION === */

/* Set navbar text color. */
.navbar-dark .navbar-brand {
    margin-left: 1rem;
    color: #FFAF24;
}

/* Set the hover state so that there no effects. */
.navbar-dark .navbar-brand:hover {
    color: #c48300;
}

.parkfinder-font-size {
    font-size: 2rem;
}

.all-navbar-links {
    padding-right: 1rem;
}

/* Set the color of the navbar link. */
.navbar-dark .navbar-nav .nav-link {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #FFAF24;
}

/* Set the hover state so that there are different color effects. */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #c48300;
}

/* Set the color of the hamburger menu outline. */
.navbar-dark .navbar-toggler {
    margin-right: 1rem;
    color: #FFAF24;
}

/* Style the color of the header section. */
#navbar-header {
    background-color: #125106; /* #125C13; */
}

/* === HOMEPAGE SECTION === */

/* Add styles to the button on the homepage. */
.home-button {
    background-color: #125106; /* Green */
    border: none;
    width: 12.5rem;
    border-radius: 1.875rem;
    color: #FFAF24;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 5rem; /* MAKE THIS WORK!!! */
    margin-left: 5rem; /* MAKE THIS WORK!!! */
}

/* Add a hover state to the button above. */
.home-button:hover {
    background-color: #187519; /* Green */
    transform: scale(1.05);
}

/* Style the specified text with a brownish color */
.browner-text {
    color: #FFAF24;
}

/* Set the color for the background of the home screen. */
.home-heading {
    color: #125C13;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    line-height: 3rem;
}

/* Set the color for the background of the home screen. */
.home-subheading {
    color: #125C13;
    font-size: 2rem;
}

/* Insert an image for the homepage of the website --> FIX THIS LATER !!! */
/* .container-home {
    background-image: url("../Parks/images/Yellowstone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

/* === FIND PARKS SECTION === */

/* Style the button on the 'find parks' page. */
.find-parks-button {
    background-color: #125C13; /* Green */
    border: none;
    width: 10.5rem;
    border-radius: 0.5rem;
    color: #FFAF24;
    padding: 15px 32px;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15rem;
}

/* Add a hover state to the button above. */
.find-parks-button:hover {
    background-color: #187519; /* Green */
    transform: scale(1.05);
}

/* Style the button on the 'find trails' page with longer names. */
.find-parks-button-small-text {
    background-color: #125C13; /* Green */
    border: none;
    width: 10.5rem;
    border-radius: 0.5rem;
    color: #FFAF24;
    padding: 15px 32px;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.95rem;
}

/* Add a hover state to the button above. */
.find-parks-button-small-text:hover {
    background-color: #187519; /* Green */
    transform: scale(1.05);
}

/* Style the heading text on the 'find trails' page. */
.find-parks-text {
    color:#125106;
    padding: 1rem;
}

/* === PARKS PAGE SECTION === */

/* Style the back button on the parks page. */
.back-button {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* Make the back button centered on the page. */
.back-button-position-step1 {
    width: 100%;
    /* position: fixed; */
    /* bottom: 4rem; */
}

/* The class below helps with centering the back button. */
.back-button-position-step2 {
    margin-left: auto;
    margin-right: auto;
}

/* Style the park button that is listed out on the page. */
.park-button {
    display: block;
    width: 100%;
    border: 0;
}

/* Style the card color. */
.card-background-color {
    background-color: #125106;
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem; */
}

/* Add spacing around the cards containing the park information. */
.card-format {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style the background color of the dropdown button. */
.dropdown-button-style {
    border: none;
    background-color: #125106;
}

/* Style the button that adds the park to a registered user's profile. */
.add-to-profile {
    border: none;
    background-color: #125106;
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
    border-radius: 0.5rem;
}

/* ADD MORE???????????????????????????????????????????????????????????????????????????????????????????????????? */

/* Style the button color. */
.card-text-indent {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style the image so that it spans the width of the button. */
.img-format {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

/* === ABOUT PAGE SECTION === */

/* Style the heading of the about page. */
.about-heading {
    color: #125106;
    font-size: 2rem;
}

/* Align the text to the right side of the screen. */
.about-text {
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
    border: 0.25rem;
    border-style: solid;
    border-color: #125106;
    padding: 2%;
}

/* Create an id selector to align buttons on the same line. */
#outer {
    width:100%;
    text-align: center;
}

/* The inner class helps complete the alignment of the buttons. */
.inner {
    display: inline-block;
}

/* === UNIVERSAL STYLES SECTION === */

/* The container in the home_header file centers everything on the page. */
.container {
    margin-top: auto;
    margin-bottom: auto;
}

/* Style the text in the footer section of the website. */
.footer-design {
    color: #125106;/*#FFAF24;*/
    text-align: center;
    margin-top: 0;
}

/* Style the line and make it greenish. */
.green-line {
    color: #125106;
    opacity: 50%;
    height: 0.25rem !important;
    border: none;
}

/* Make the text greenish. */
.green-text {
    color: #125106;
}

/* Make the text light greenish. */
.light-green-text {
    color: #187519;
}

/* Style the link for directions for a given park. */
.green-text-hover:hover {
    color: #125106;
}

/* Add some space between the map on any page. */
.map-styles {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style the background color of the footer section. */
#footer-section {
    background-color: #FFAF24;/*#125106*/;
    margin-top: auto;
    padding-top: 1rem;
}
