<!--
    The about file contains a header and some simple text
    describing why the ParkFinder web application was created
    as well as its different uses. A simple border surrounds 
    the actual text talking about the website as a basic 
    design technique.
     ...
    Project: ParkFinder Web Application
    Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
    Class: Introduction to Programming Languages (CS 224)   
    Date: 12/06/2021
    ...
 -->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}
    <h2 class="about-heading">About Park Finder</h2>
    <div class="about-styles">
        <p class="about-text">
            Park Finder is a web application designed to allow users to view different 
            national parks and places in the United States. The National Park Services
            (NPS) API is utilized in the framework of this website and grants users 
            access to over 460 locations across the U.S. 
            <br>
            <br>
            One of the features of this website is planning places to visit. If a user 
            wishes to visit a certain state, they can view all of the nationally recognized 
            locations in the state and determine which areas to vist. The user can also 
            create an account with the Park Finder site to add parks and places to a built-in 
            list on their user profile.
            <br>
            <br>
            The Park Finder website was created for a semester project in a Python
            programming class (CS 224) at the <a class="color-about-link" href="https://www.uwlax.edu/">University of Wisconsin - La Crosse</a>. 
            We hope that you enjoy exploring the website, and we intend to incorporate 
            additional features in the future.
        </p>
    </div>
{% endblock content %}  
