<!--
    The about file contains a header and some simple text
    describing why the ParkFinder web application was created
    as well as its different uses. A simple border surrounds 
    the actual text talking about the website as a basic 
    design technique.
     ...
    Project: ParkFinder Web Application
    Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
    Class: Introduction to Programming Languages (CS 224)   
    Date: 12/06/2021
    ...
 -->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}
    <h2 class="about-heading">About Park Finder</h2>
    <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        in culpa qui officia deserunt mollit anim id est laborum.
    </p>
{% endblock content %}  
