<!-- 
    Author: Andrew Krause
    Description:
        Blah blah blah...
-->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}   
   <div class="body">
        <h1 class="find-parks-text">Select a state to explore national parks and places.</h2>
        <hr class="green-line">

        <!-- Include all 50 states in sets of five for the project (count up to this point: 5) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Alabama">
                    <input type="hidden" name="state-code" value="AL">
                    <button type="submit" class="find-parks-button">Alabama</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Alaska">
                    <input type="hidden" name="state-code" value="AK">
                    <button type="submit" class="find-parks-button">Alaska</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Arizona">
                    <input type="hidden" name="state-code" value="AZ">
                    <button type="submit" class="find-parks-button">Arizona</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Arkansas">
                    <input type="hidden" name="state-code" value="AR">
                    <button type="submit" class="find-parks-button">Arkansas</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="California">
                    <input type="hidden" name="state-code" value="CA">
                    <button type="submit" class="find-parks-button">California</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 10) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Colorado">
                    <input type="hidden" name="state-code" value="CO">
                    <button type="submit" class="find-parks-button">Colorado</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Connecticut">
                    <input type="hidden" name="state-code" value="CT">
                    <button type="submit" class="find-parks-button">Connecticut</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Delaware">
                    <input type="hidden" name="state-code" value="DE">
                    <button type="submit" class="find-parks-button">Delaware</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Florida">
                    <input type="hidden" name="state-code" value="FL">
                    <button type="submit" class="find-parks-button">Florida</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Georgia">
                    <input type="hidden" name="state-code" value="GA">
                    <button type="submit" class="find-parks-button">Georgia</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 15) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Hawaii">
                    <input type="hidden" name="state-code" value="HI">
                    <button type="submit" class="find-parks-button">Hawaii</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Idaho">
                    <input type="hidden" name="state-code" value="ID">
                    <button type="submit" class="find-parks-button">Idaho</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Illinois">
                    <input type="hidden" name="state-code" value="IL">
                    <button type="submit" class="find-parks-button">Illinois</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Indiana">
                    <input type="hidden" name="state-code" value="IN">
                    <button type="submit" class="find-parks-button">Indiana</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Iowa">
                    <input type="hidden" name="state-code" value="IA">
                    <button type="submit" class="find-parks-button">Iowa</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 20) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Kansas">
                    <input type="hidden" name="state-code" value="KS">
                    <button type="submit" class="find-parks-button">Kansas</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Kentucky">
                    <input type="hidden" name="state-code" value="KY">
                    <button type="submit" class="find-parks-button">Kentucky</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Louisiana">
                    <input type="hidden" name="state-code" value="LA">
                    <button type="submit" class="find-parks-button">Louisiana</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Maine">
                    <input type="hidden" name="state-code" value="ME">
                    <button type="submit" class="find-parks-button">Maine</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Maryland">
                    <input type="hidden" name="state-code" value="MD">
                    <button type="submit" class="find-parks-button">Maryland</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 25) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Massachusetts">
                    <input type="hidden" name="state-code" value="MA">
                    <button type="submit" class="find-parks-button">Massachusetts</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Michigan">
                    <input type="hidden" name="state-code" value="MI">
                    <button type="submit" class="find-parks-button">Michigan</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Minnesota">
                    <input type="hidden" name="state-code" value="MN">
                    <button type="submit" class="find-parks-button">Minnesota</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Mississippi">
                    <input type="hidden" name="state-code" value="MS">
                    <button type="submit" class="find-parks-button">Mississippi</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Missouri">
                    <input type="hidden" name="state-code" value="MO">
                    <button type="submit" class="find-parks-button">Missouri</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 30) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Montana">
                    <input type="hidden" name="state-code" value="MT">
                    <button type="submit" class="find-parks-button">Montana</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Nebraska">
                    <input type="hidden" name="state-code" value="NE">
                    <button type="submit" class="find-parks-button">Nebraska</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Nevada">
                    <input type="hidden" name="state-code" value="NV">
                    <button type="submit" class="find-parks-button">Nevada</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="New Hampshire">
                    <input type="hidden" name="state-code" value="NH">
                    <button type="submit" class="find-parks-button-small-text">New Hampshire</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="New Jersey">
                    <input type="hidden" name="state-code" value="NJ">
                    <button type="submit" class="find-parks-button">New Jersey</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 35) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="New Mexico">
                    <input type="hidden" name="state-code" value="NM">
                    <button type="submit" class="find-parks-button">New Mexico</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="New York">
                    <input type="hidden" name="state-code" value="NY">
                    <button type="submit" class="find-parks-button">New York</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="North Carolina">
                    <input type="hidden" name="state-code" value="NC">
                    <button type="submit" class="find-parks-button-small-text">North Carolina</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="North Dakota">
                    <input type="hidden" name="state-code" value="ND">
                    <button type="submit" class="find-parks-button">North Dakota</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Ohio">
                    <input type="hidden" name="state-code" value="OH">
                    <button type="submit" class="find-parks-button">Ohio</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 40) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Oklahoma">
                    <input type="hidden" name="state-code" value="OK">
                    <button type="submit" class="find-parks-button">Oklahoma</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Oregon">
                    <input type="hidden" name="state-code" value="OR">
                    <button type="submit" class="find-parks-button">Oregon</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Pennsylvania">
                    <input type="hidden" name="state-code" value="PA">
                    <button type="submit" class="find-parks-button">Pennsylvania</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Rhode Island">
                    <input type="hidden" name="state-code" value="RI">
                    <button type="submit" class="find-parks-button">Rhode Island</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="South Carolina">
                    <input type="hidden" name="state-code" value="SC">
                    <button type="submit" class="find-parks-button-small-text">South Carolina</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 45) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="South Dakota">
                    <input type="hidden" name="state-code" value="SD">
                    <button type="submit" class="find-parks-button">South Dakota</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Tennessee">
                    <input type="hidden" name="state-code" value="TN">
                    <button type="submit" class="find-parks-button">Tennessee</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Texas">
                    <input type="hidden" name="state-code" value="TX">
                    <button type="submit" class="find-parks-button">Texas</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Utah">
                    <input type="hidden" name="state-code" value="UT">
                    <button type="submit" class="find-parks-button">Utah</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Vermont">
                    <input type="hidden" name="state-code" value="VT">
                    <button type="submit" class="find-parks-button">Vermont</button>
                </form><br>
            </div>
        </div>

        <!-- Include all 50 states in sets of five for the project (count up to this point: 50) -->
        <div id="outer">
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Virginia">
                    <input type="hidden" name="state-code" value="VA">
                    <button type="submit" class="find-parks-button">Virginia</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Washington">
                    <input type="hidden" name="state-code" value="WA">
                    <button type="submit" class="find-parks-button">Washington</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="West Virginia">
                    <input type="hidden" name="state-code" value="WV">
                    <button type="submit" class="find-parks-button">West Virginia</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Wisconsin">
                    <input type="hidden" name="state-code" value="WI">
                    <button type="submit" class="find-parks-button">Wisconsin</button>
                </form><br>
            </div>
            <div class="inner">
                <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="state" value="Wyoming">
                    <input type="hidden" name="state-code" value="WY">
                    <button type="submit" class="find-parks-button">Wyoming</button>
                </form><br>
            </div>
        </div>
   </div>
{% endblock content %}  