<!-- 
    Author: Andrew Krause
    Description:
        Blah blah blah...
-->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}   
   <div class="body">
        <h1 class="find-parks-text">Select a state to explore national parks and places.</h2>
        <hr class="green-line">

        <!-- Render all 50 states as buttons on the page that the user can click -->
        <div id="outer">
            <!-- Loop through all 50 states in the list of state dictionaries that was passed through -->
            {% for state in statelist %}

                <!-- Check if the following states have been reached and style them differently -->
                {% if 'New Hampshire' in state.state_name or 'North Carolina' in state.state_name or 'South Carolina' in state.state_name %}
                    <div class="inner">
                        <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                            {% csrf_token %}
                            <input type="hidden" name="state" value="{{ state.state_name }}">
                            <input type="hidden" name="state-code" value="{{ state.state_abbreviation }}">
                            <button type="submit" class="find-parks-button-small-text">{{ state.state_name }}</button>
                        </form><br>
                    </div>
                <!-- Otherwise use the default styles you have created for all the other states -->
                {% else %}
                    <div class="inner">
                        <form action="{% url 'ParkFinder-parks' %}" method="POST"> 
                            {% csrf_token %}
                            <input type="hidden" name="state" value="{{ state.state_name }}">
                            <input type="hidden" name="state-code" value="{{ state.state_abbreviation }}">
                            <button type="submit" class="find-parks-button">{{ state.state_name }}</button>
                        </form><br>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
   </div>
{% endblock content %}  
