<!--
    The home file contains the "root" of the web application.
    This is the first page that the user sees when they access
    the website. The home/root page is simple. It contains some
    text and a button that the user can click to begin searching 
    for national parks, monuments, and places. Like other pages,
    this page is inserted into a larger template file in order 
    to also display the header and footer of the website.
    ...
    Project: ParkFinder Web Application
    Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
    Class: Introduction to Programming Languages (CS 224)   
    Date: 12/06/2021
    ...
 -->

{% extends "Parks/footer.html" %}
{% load static %}

<!-- The block contains the code for the body of the home page -->
{% block content %}
    <div class="container">
        <div class="body">
            <div class="row m-2 text-center">
                <div>
                    <h1 class="home-heading"><strong><em>Park Finder</em></strong><br></h1>
                    <p class="home-subheading">Find National Parks and Places in the United States</p>
                </div>
            </div>

            <!-- Create a form to process when user clicks "Find Parks" button -->
            <div class="row">
                <div class="mx-auto lightgreen-text">
                    <form action="{% url 'ParkFinder-find_parks' %}" method="POST"> 
                        {% csrf_token %}
                        <button type="submit" class="home-button"><i class="fas fa-hiking"></i> Find Parks</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
