<!-- 
    Author: Andrew Krause
    Description:
        Blah blah blah...
-->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}   
   <div class="body">
        <!-- Include a heading that indicates what state you are exploring for parks -->
        <h1 class="home green-text">National Parks for <em>{{ state_name }}</em></h2>
        
        <!-- Include a map for the page that the user can use -->
        <!-- BEGIN Hiking Project -->
        <iframe class="map-styles" style="width:100%; max-width:600px; height:400px;" frameborder="0" scrolling="no" src="https://www.hikingproject.com/widget/map?favs=1&location=fixed&x=-12573242&y=5811847&z=6.4&h=500"></iframe>
        <!-- END Hiking Project -->

        <!-- Include the green line as a seperator -->
        <hr class="green-line">


        <!-- 
            Loop through the data passed through and list 
            out all of the national parks in the given state
        -->
        <div>
            <h3>TEST ONE (Delete later):</h1>
            <h3>National Park Name: {{ full_name }}</h1>
            <h4>Button state: {{ state_code }}</h1>
            <h4>API state: {{ states }}</h1>
        </div>


        <!-- ADD A FOR LOOP TO SURROUND THE DIV RIGHT BELOW ONCE YOU GET THE API WORKING!!! -->


        <!-- AS SOON AS YOU GET THE API WORKING, MAKE SURE YOU UNCOMMENT THE IF-STATEMENT CODE BELOW!!! -->
        {% comment %} {% if state_code == states %} {% endcomment %}
            <div class="card browner-text card-background-color" style="width: 25rem;">
                <button type="submit" class="park-button card-background-color" data-bs-toggle="collapse" data-bs-target="#collapse-park" aria-expanded="false" aria-controls="collapse-events">
                    <img class="card-img-top img-format" src="{{ image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title browner-text">{{ fullName }}</h5>
                    </div>
                </button>

                <div class="collapse" id="collapse-park"> 
                    <p class="card-text card-text-indent">{{ description }}</p>
                    <ul class="card-text-indent">
                        <li>State: {{ states }}</li>
                        <li>Latitude: {{ latitude }}</li>
                        <li>Longitude: {{ longitude }}</li>
                        <li><a class="browner-text browner-text-hover" href="{{ directionsUrl }}">Directions</a></li>
                    </ul>
                </div>
            </div>
        {% comment %} {% endif %} {% endcomment %}

        <!-- Include a back button. -->
        <form action="{% url 'ParkFinder-find_parks' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="find-parks-button back-button"><i class="fas fa-arrow-left"></i> Back</button>
        </form>
   </div>
{% endblock content %}     