<!--
    The specific park page of the web application provides 
    more details about a national park, monument, or place
    that the user wishes to learn more aboutl

    !!! YOU MAY END UP DELETING THIS; DON'T THINK YOU NEED IT RIGHT NOW !!!
     ...
    Project: ParkFinder Web Application
    Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
    Class: Introduction to Programming Languages (CS 224)   
    Date: 12/06/2021
    ...
 -->

{% extends "Parks/footer.html" %}
{% load static %}

{% block content %}
    <h2 class="home">This is the SPECIFIC PARK page for our Python project!</h2>
{% endblock content %}  
