<!-- 
    DESCRIPTION...
    ...
    Project: ParkFinder Web Application
    Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
    Class: Introduction to Programming Languages (CS 224)
    Date: 12/06/2021
    ...
-->

{% extends "Parks/home_header.html" %}
{% load static %}

<!-- Create a content block for the footer of the web application -->
{% block footer %}
  <div class="footer-design">
    <!-- Attribute whatever you pull from online -->
    <!-- <div class="image-attributions">
      <p class="white-text">Profile Icon from <a class="attribution-text white-text" href="https://thenounproject.com/search/?q=profile+&i=405168" title="NounProject">Nicolas Morand</a></p>
      <p class="white-text">NAME from <a class="attribution-text white-text" href="https://thenounproject.com/search/?q=profile+&i=405168" title="NAME">AUTHOR</a></p>
    </div> -->
    <a href="https://www.facebook.com/search/top?q=hiking%20trails"><i class="browner-text footer-icon fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/explore/search/keyword/?q=hiking%20trails"><i class="browner-text footer-icon fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/hiking-travel-hit-ky/"><i class="browner-text footer-icon fab fa-linkedin"></i></a>
    <a href="https://www.youtube.com/results?search_query=hiking+trails"><i class="browner-text footer-icon fab fa-youtube"></i></a> 
    <p class="footer-text">© Copyright {% now "Y" %} CS 224 by Andrew Krause, Anthony Musbach, and Gavin McClellan.</p>
  </div>
{% endblock footer %}
