/* 
 * DESCRIPTION...
 * ...
 * Project: ParkFinder Web Application
 * Authors: Andrew Krause, Anthony Musbach, Gavin McClellan
 * Class: Introduction to Programming Languages (CS 224)
 * Date: 12/06/2021
 * ...
 *
 */

/* 
 * IMPORTANT:
 * You will likely need to hard refresh the page to see the changes in your CSS.
 * To do this, hit CMD + Shift + R on the keyboard.
 */

 /* Import fonts */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Serif:ital@1&display=swap'); 

/******************************* TYPE SELECTORS *******************************/

/* Format content within the body tag of the HTML structure */
body {
    padding-top: 6rem; /* This portion is included for the fixed header on the page. */
    /* padding-bottom: 6rem; /* This portion is included for the fixed footer on the page. */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
    background-color: #F4A442;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Align footer with bottom of page. */
footer {
    margin-top: auto;
}

/* Get rid of the default styling for lists */
/* Potentially delete later */
ul {
    list-style: none;
    padding: 0px;
}

/******************************* CLASS SELECTORS *******************************/

/* === NAVBAR SECTION === */

/* Set navbar text color. */
.navbar-dark .navbar-brand {
    margin-left: 1rem;
    color: #F4A442;
}

/* Set the hover state so that there no effects. */
.navbar-dark .navbar-brand:hover {
    color: #f7c35e;
}

.parkfinder-font-size {
    font-size: 2rem;
}

.all-navbar-links {
    padding-right: 1rem;
}

/* Set the color of the navbar link. */
.navbar-dark .navbar-nav .nav-link {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #F4A442;
}

/* Set the hover state so that there are different color effects. */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #f7c35e;
}

/* Set the color of the hamburger menu outline. */
.navbar-dark .navbar-toggler {
    margin-right: 1rem;
    color: #F4A442;
}

/* Style the color of the header section. */
#navbar-header {
    background-color: #125C13;
}

/* === HOMEPAGE SECTION === */

/* Add styles to the button on the homepage. */
.home-button {
    background-color: #125C13; /* Green */
    border: none;
    width: 12.5rem;
    border-radius: 1.875rem;
    color: #F4A442;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 5rem; /* MAKE THIS WORK!!! */
    margin-left: 5rem; /* MAKE THIS WORK!!! */
}

/* Add a hover state to the button above. */
.home-button:hover {
    background-color: #187519; /* Green */
    transform: scale(1.05);
}

/* Style the specified text with a brownish color */
.browner-text {
    color: #F4A442;
}

/* Set the color for the background of the home screen. */
.home-heading {
    color: #125C13;
    font-size: 4rem;
    top: 50%;
    left: 50%;
}

/* Set the color for the background of the home screen. */
.home-subheading {
    color: #125C13;
    font-size: 2rem;
}

/* === FIND PARKS SECTION === */

/* Style the button on the 'find trails' page. */
.find-parks-button {
    background-color: #125C13; /* Green */
    border: none;
    width: 10.5rem;
    border-radius: 0.5rem;
    color: #F4A442;
    padding: 15px 32px;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15rem;
}

/* Add a hover state to the button above. */
.find-parks-button:hover {
    background-color: #187519; /* Green */
    transform: scale(1.05);
}

/* Style the heading text on the 'find trails' page. */
.find-parks-text {
    color:#125C13;
    padding: 1rem;
}

/* === PARKS SECTION === */

.back-button {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* === ABOUT PAGE SECTION === */

/* Style the heading of the about page. */
.about-heading {
    color: #125C13;
    font-size: 2rem;
}

/* Align the text to the right side of the screen. */
.about-text {
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
    border: 0.25rem;
    border-style: solid;
    border-color: #125C13;
    padding: 2%;
}

/* Create an id selector to align buttons on the same line. */
#outer {
    width:100%;
    text-align: center;
}

/* The inner class helps complete the alignment of the buttons. */
.inner {
    display: inline-block;
}

/* === UNIVERSAL STYLES SECTION === */

/* The container in the home_header file centers everything on the page. */
.container {
    margin-top: auto;
    margin-bottom: auto;
}

/* Style the text in the footer section of the website. */
.footer-design {
    color: #F4A442;
    text-align: center;
    margin-top: 0;
}

/* Style the line and make it greenish. */
.green-line {
    color: #125C13;
    opacity: 50%;
    height: 0.25rem !important;
    border: none;
}

/* Make the text greenish. */
.green-text {
    color: #125C13;
}

/* Add some space between the map on any page. */
.map-styles {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Style the background color of the footer section. */
#footer-section {
    background-color: #125C13;
    margin-top: auto;
    padding-top: 1rem;
}
